body {
  overflow: hidden;
}

#app {
  font-family: "Luckiest Guy", cursive;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
}

.game-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image-container {
  height: 100%;
  overflow: hidden;
  display: flex;
}

img {
  width: 100%;
}

.controls {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev,
.next,
.start,
.rules {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.prev:hover,
.next:hover,
.start:hover,
.rules:hover {
  transform: scale(1.08);
}

.prev img {
  transform: rotate(180deg);
  transform-origin: center;
}

.hidden {
  display: none;
}
